@tailwind base;
@tailwind components;
@tailwind utilities;
html,
:host {
	font-family: "Poppins", sans-serif;
}
#hero {
	background-image: url("../assets/hero.png");
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
@media (max-width: 576px) {
	#hero {
		background-image: url("../assets/Banner.png");
		height: 500px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
}
